<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
 <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> <!--避免抓favicon.ico-->
 <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" width="200" height="200" align="center" />
<body align="center">
  {{{ body }}}
</body>

</html>